body {
    font-family: 'Arial', sans-serif;
    margin: 40px;
    line-height: 1.6;
    background-color: rgba(0, 0, 0, 0.921);
    color: #ffffff;
}
h1, h2 {
color: #b35f00;
}
p.centered{
    text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}
th, td {
  border: 1px solid #787878;
  padding: 8px;
  text-align: left;
}
th {
  background: #424242;
}
a {
  color: #b35f00;
  text-decoration: none;
  display: block;
  margin: 10px 0;
  font-size: 1.2rem;
}
a:hover {
  text-decoration: underline;
}