body {
    font-family: 'Arial', sans-serif;
    margin: 40px;
    line-height: 1.6;
    background-color: rgba(0, 0, 0, 0.921);
    color: #ffffff;
}
h1, h2, h3 {
color: #b35f00;
}
p.centered{
    text-align: center;
}
table {
  width: 100%;
  border-collapse: separate; /* Important! */
  border-spacing: 0;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden; /* Optional, for clipping content */
}
thead{
  border-radius: 10px;
}
th, td {
  border: 1px solid #787878;
  padding: 8px;
  text-align: left;
}
th {
  background: #424242;
}
a {
  color: #b35f00;
  text-decoration: none;
  display: block;
  margin: 10px 0;
  font-size: 1.2rem;
}
a:hover {
  text-decoration: underline;
}
.index_title{
  font-size: 6rem !important;
}
.index_menu>a{
  font-size: 2rem !important;
  transition-duration: 500ms;
  padding: 0 0 0 5px;
}
.index_menu>a:hover{
  padding: 0 0 0 10px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  box-shadow: 1px 1px 3px 4px rgba(255, 255, 255, 0.13);
}